#root {
  max-width: 1280px;
  margin: 0;
  padding: 1em;
  text-align: center;
}

* {
  border: 1px black solid;
}

form input {
  color: black;
}

h1 {
  justify-content: center;
  position: relative;
  padding: 0.5em;
  will-change: filter;
  transition: filter 200ms;
}

h1:hover {
  filter: drop-shadow(0 0 2em #8a1414);
}

form {
}
